$formfiles-padding-y:               $input-padding-y;
$formfiles-padding-x:               $input-padding-x;
$formfiles-font-family:             $input-font-family;
$formfiles-font-size:               $input-font-size;
$formfiles-font-weight:             $input-font-weight;
$formfiles-line-height:             $input-line-height;
$formfiles-color:                   $input-color;
$formfiles-bg:                      $input-bg;
$formfiles-border-width:            $input-border-width;
$formfiles-border-color:            $input-border-color;
$formfiles-height:                  25rem;
$formfiles-border-radius:           $input-border-radius;
$formfiles-box-shadow:              $input-box-shadow;

$formfiles-item-hover-bg:           $gray-100;
$formfiles-item-height-transition:  height .3s ease;
$formfiles-item-height:             3.25rem;

$formfiles-item-meta-font-size:     ($font-size-sm / 1.3);

$formfiles-item-icon-size:          1.875rem;
$formfiles-item-icon-margin-top:    0.313rem;
$formfiles-item-icon-bg:            $gray-200;